In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2
%config InlineBackend.figure_format = 'retina'

In [2]:
import numpy as np
import matplotlib.pyplot as plt

import logging
logging.basicConfig(level=logging.INFO)

In [217]:
from src.parameters import ANIMALS

epoch_key = ('jaq', 1, 2)

In [242]:
from loren_frank_data_processing import make_tetrode_dataframe

tetrode_info = (make_tetrode_dataframe(ANIMALS)
                .xs(epoch_key, drop_level=False))

tetrode_info = tetrode_info.loc[tetrode_info.area == 'ca1']
tetrode_info

                                area  clockrate  deadchans depth      endtime  \
animal day epoch tetrode_number
jaq    1   2     1               ca1      30000        NaN    []  4655.752867
                 2               ca1      30000        NaN    []  4655.752867
                 3               ca1      30000        NaN    []  4655.752867
                 4               ca1      30000        NaN    []  4655.752867
                 5               ca1      30000        NaN    []  4655.752867
                 6               ca1      30000        NaN    []  4655.752867
                 7               ca1      30000        NaN    []  4655.752867
                 8               ca1      30000        NaN    []  4655.752867
                 9               ca1      30000        NaN    []  4655.752867
                 10              ca1      30000        NaN    []  4655.752867
                 11              ca1      30000        NaN    []  4655.752867
                 12              ca1      30000        NaN    []  4655.752867
                 14              ca1      30000        NaN    []  4655.752867
                 15              ca1      30000        NaN    []  4655.752867
                 16              ca1      30000        NaN    []  4655.752867
                 17              ca1      30000        NaN    []  4655.752867
                 18              ca1      30000        NaN    []  4655.752867
                 20              ca1      30000        NaN    []  4655.752867
                 21              ca1      30000        NaN    []  4655.752867
                 22              ca1      30000        NaN    []  4655.752867
                 23              ca1      30000        NaN    []  4655.752867
                 24              ca1      30000        NaN    []  4655.752867
                 25              ca1      30000        NaN    []  4655.752867
                 27              ca1      30000        NaN    []  4655.752867
                 28              ca1      30000        NaN    []  4655.752867
                 29              ca1      30000        NaN    []  4655.752867
                 30              ca1      30000        NaN    []  4655.752867

                                 nTrode  nTrodeChannel  numcells   ref  \
animal day epoch tetrode_number
jaq    1   2     1                    1              1         0  13.0
                 2                    2              1         0  13.0
                 3                    3              1         0  13.0
                 4                    4              1         0  13.0
                 5                    5              1         0  13.0
                 6                    6              1         0  13.0
                 7                    7              1         0  13.0
                 8                    8              1         0  13.0
                 9                    9              1         0  13.0
                 10                  10              1         0  13.0
                 11                  11              1         0  13.0
                 12                  12              1         0  13.0
                 14                  14              1         0  13.0
                 15                  15              1         0  13.0
                 16                  16              1         0  13.0
                 17                  17              1         0  13.0
                 18                  18              1         0  13.0
                 20                  20              1         0  13.0
                 21                  21              1         0  13.0
                 22                  22              1         0  13.0
                 23                  23              1         0  13.0
                 24                  24              1         0  13.0
                 25                  25              1         0  13.0
                 27                  27              1         0  13.0
                 28                  28              1         0  13.0
                 29                  29              1         0  13.0
                 30                  30              1         0  13.0

                                refNTrode  samprate    starttime suparea  \
animal day epoch tetrode_number
jaq    1   2     1                     13      1500  2404.732867    left
                 2                     13      1500  2404.732867    left
                 3                     13      1500  2404.732867    left
                 4                     13      1500  2404.732867    left
                 5                     13      1500  2404.732867    left
                 6                     13      1500  2404.732867    left
                 7                     13      1500  2404.732867    left
                 8                     13      1500  2404.732867    left
                 9                     13      1500  2404.732867    left
                 10                    13      1500  2404.732867    left
                 11                    13      1500  2404.732867    left
                 12                    13      1500  2404.732867    left
                 14                    13      1500  2404.732867    left
                 15                    13      1500  2404.732867    left
                 16                    13      1500  2404.732867   right
                 17                    13      1500  2404.732867   right
                 18                    13      1500  2404.732867   right
                 20                    13      1500  2404.732867   right
                 21                    13      1500  2404.732867   right
                 22                    13      1500  2404.732867   right
                 23                    13      1500  2404.732867   right
                 24                    13      1500  2404.732867   right
                 25                    13      1500  2404.732867   right
                 27                    13      1500  2404.732867   right
                 28                    13      1500  2404.732867   right
                 29                    13      1500  2404.732867   right
                 30                    13      1500  2404.732867   right

                                    tetrode_id
animal day epoch tetrode_number
jaq    1   2     1               jaq_01_02_001
                 2               jaq_01_02_002
                 3               jaq_01_02_003
                 4               jaq_01_02_004
                 5               jaq_01_02_005
                 6               jaq_01_02_006
                 7               jaq_01_02_007
                 8               jaq_01_02_008
                 9               jaq_01_02_009
                 10              jaq_01_02_010
                 11              jaq_01_02_011
                 12              jaq_01_02_012
                 14              jaq_01_02_014
                 15              jaq_01_02_015
                 16              jaq_01_02_016
                 17              jaq_01_02_017
                 18              jaq_01_02_018
                 20              jaq_01_02_020
                 21              jaq_01_02_021
                 22              jaq_01_02_022
                 23              jaq_01_02_023
                 24              jaq_01_02_024
                 25              jaq_01_02_025
                 27              jaq_01_02_027
                 28              jaq_01_02_028
                 29              jaq_01_02_029
                 30              jaq_01_02_030

In [250]:
from loren_frank_data_processing import get_all_multiunit_indicators

tetrode_keys = tetrode_info.index
multiunits = get_all_multiunit_indicators(tetrode_keys, ANIMALS)
multiunits

WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-01.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-02.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-03.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-04.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-05.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-06.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-07.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-08.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-09.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-10.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-11.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-12.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-14.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-15.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-16.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-17.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-18.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-20.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-21.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-22.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-23.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-24.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-25.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-27.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-28.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-29.mat
WARNING:loren_frank_data_processing.core:Failed to load file: /Users/edeno/Documents/GitHub/cameron_alison_theta_decoding/src/../Raw-Data/jaq/EEG/jaqmarks01-30.mat

<xarray.DataArray (time: 3376531, features: 4, tetrodes: 27)>
array([[[nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan]],

       [[84., nan, nan, ..., nan, nan, 47.],
        [74., nan, nan, ..., nan, nan, 79.],
        [80., nan, nan, ..., nan, nan, 84.],
        [71., nan, nan, ..., nan, nan, 41.]],

       [[nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan]],

       ...,

       [[nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan]],

       [[nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan]],

       [[nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan],
        [nan, nan, nan, ..., nan, nan, nan]]])
Coordinates:
  * features  (features) <U13 'channel_1_max' ... 'channel_4_max'
  * time      (time) timedelta64[ns] 00:40:04.732866 ... 01:17:35.752866
Dimensions without coordinates: tetrodes